@charset "utf-8";
/* HTML Reset - Copyright OuseCreative 2012 
	Author: David Polehonski*/

/*No Padding Or Margins allowed - Box sizing, standardize the rules*/
*{
	margin:0px;
	padding:0px;
	-moz-box-sizing:content-box;
	-o-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}

/*HTML 5 For older browsers*/
article, aside, figure, figcaption, footer, header, hgroup, nav, section {
	display: block;
}

/*Force the Y-scroll - consistency is golden*/
html {
	overflow-y: scroll;
}

/*Clean off bullets*/
ul {
	list-style-type: none;
}

a{
	text-decoration:none;	
}

table {
		border-collapse: collapse; 
		border-spacing: 0;
}

/*No img borders by default*/
img{
	border:none;	
}
/*Because browsers are inconsistant... IE!!*/
hr{
	border:none;
	display:block;
	height:1px;/*just a default*/	
}

/*When old IE is in use.. we hate IE*/
html.ie *{
	zoom:1;	
}
